<script setup lang="ts">
import { DstCustomData, useUserCustomDataStore } from 'src/stores/UserCustomDataStore';
import { ref, watchEffect } from 'vue'
import { openURL, copyToClipboard, useQuasar } from 'quasar';
import custom_contact_add_dialogVue from '../dialogs/custom_contact_add_dialog.vue';
const $q = useQuasar()
const props = defineProps<{
    dst_id: number
}>()

const UserCustomDataStore = useUserCustomDataStore()
const CustomData = ref<DstCustomData | null>(null)

watchEffect(() => {
    CustomData.value = UserCustomDataStore.getCustomInfo(props.dst_id) || null
})



const AddNewContact = () => {
    $q.dialog({
        component: custom_contact_add_dialogVue,
    }).onOk((value: { title: string, value: string, type: string }) => {
        console.log('dialog val', value)
        UserCustomDataStore.AddContact(props.dst_id, value)
    })
}

const DeleteContact = (index: number) => {
    $q.dialog({
        title: 'Kontakteintrag löschen',
        message: 'Willst du diesen Eintrag wirklich löschen?',
        cancel: true,
        persistent: true
    }).onOk(() => {
        UserCustomDataStore.DeleteContactAtIndex(props.dst_id, index)
    })
}

</script>
<template>
    <div class="q-pa-md">
        <q-toolbar class="bg-primary text-white shadow-2">
            <q-toolbar-title>
                Eigene
                Kontakte
            </q-toolbar-title>
            <q-btn color="primary" icon="add" @click="AddNewContact" />
        </q-toolbar>

        <q-list dark bordered separator class="full-width"
            v-if="CustomData?.contacts && CustomData.contacts.length > 0">
            <template v-for="(contact, i) in CustomData?.contacts || []" :key="i">
                <q-item clickable v-ripple>
                    <q-item-section>
                        <q-item-label overline>{{ contact.title }}</q-item-label>
                        <q-item-label>{{ contact.value }}</q-item-label>
                    </q-item-section>
                    <q-item-section side style="display:inline-block">
                        <q-item-section side style="display:inline-block">
                            <q-btn color="secondary" flat v-if="contact.type == 'tel'" icon="call"
                                @click="contact.value ? openURL(`tel: ${contact.value}`) : null" />
                            <q-btn color="secondary" flat v-if="contact.type == 'mail'" icon="send"
                                @click="contact.value ? openURL('mailto:' + contact.value.replace('mailto:', '')) : null" />
                            <q-btn color="secondary" flat v-if="contact.type == 'web'" icon="open_in_new"
                                @click="contact.value ? openURL(contact.value) : null" />
                            <q-btn color="secondary" flat icon="content_copy"
                                @click.prevent="contact.value ? copyToClipboard(`tel: ${contact.value}`) : null" />
                            <q-btn color="red" flat icon="delete" @click.prevent="DeleteContact(i)" />
                        </q-item-section>
                    </q-item-section>
                </q-item>
            </template>
        </q-list>
    </div>
</template>