<script  lang="ts">
export default {
    name: 'ListAz'
}
</script>

<script setup  lang="ts">

import { ref } from 'vue'
import Dst_list from 'src/components/dst_list.vue';
import Dst_search from 'src/components/dst_search.vue';
const styleFn = (offset: number) => {
    // "offset" is a Number (pixels) that refers to the total
    // height of header + footer that occupies on screen,
    // based on the QLayout "view" prop configuration
    const myHeight = offset ? `calc(100vh - ${offset}px - env(safe-area-inset-bottom)` : 'calc(100vh - ${offset}px - env(safe-area-inset-bottom)'

    // this is actually what the default style-fn does in Quasar
    return { minHeight: myHeight, maxHeight: myHeight }
}
const searchName = ref<string>('')


</script>
<template>
    <q-page :style-fn="styleFn" class="q-px-md q-py-sm">
        <Dst_list :name="searchName" :code="searchName" type="AZ">
            <Dst_search type="AZ" @search-name="(e) => searchName = e"></Dst_search>
        </Dst_list>
    </q-page>
</template>