<script setup lang="ts">
import { useScrapedDataStore } from 'src/stores/ScrapedDataStore';
const ScrapedDataStore = useScrapedDataStore()


</script>
<template>
  <q-page padding class="scroll" style="height: 100%">
    <q-card>
      <q-card-section>
        <div class="text-h6">Statistiken</div>
      </q-card-section>
      <q-card-section>
        <q-list bordered dark separator>
          <q-item>
            <q-item-section>
              <q-item-label overline>Anzahl Dienststellen (OV/RST/LV/AZ):</q-item-label>
              <q-item-label class="text-weight-bold">{{ ScrapedDataStore.data.length }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item v-for="unit in Object.entries(ScrapedDataStore.TeileinheitCounts)" :key="unit[0]">
            <q-item-section>
              <q-item-label overline>{{ unit[0] }}</q-item-label>
              <q-item-label class="text-weight-bold">{{ unit[1] }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>
    </q-card>
  </q-page>
</template>