<script setup lang="ts">
import license from '../licenses/licenses.json';
import extralicense from '../licenses/extra_license.json';


</script>
<template>
    <q-page class="q-gutter-md" padding style="max-height: inherit; overflow: auto !important;">
        <q-list bordered separator style="max-height: inherit;">
            <q-expansion-item
                group="licenses"
                expand-separator
                v-for="lic in license.concat(extralicense)"
                :key="lic.name"
                :label="lic.name"
                :caption="lic.license"
            >
                <q-card>
                    <q-card-section>
                        <div class="text-h6">{{ lic.name }} - {{ lic.version }}</div>
                        <div class="text-subtitle2">by {{ lic.author }}</div>
                    </q-card-section>
                    <q-card-section>
                        <div class="text-subtitle1">{{ lic.description }}</div>
                    </q-card-section>
                    <q-card-section>
                        <a
                            v-if="(lic.repo).valueOf().hasOwnProperty('url')"
                            :href="(lic.repo as { url: string }).url"
                        >{{ (lic.repo as { url: string }).url }}</a>
                        <a v-else :href="lic.repo as string">{{ lic.repo }}</a>
                    </q-card-section>
                    <q-card-section>{{ lic.licensetext }}</q-card-section>
                </q-card>
            </q-expansion-item>
        </q-list>
    </q-page>
</template>