<script setup lang="ts">
import { ref, onActivated } from 'vue'
import { useScrapedDataStore } from 'src/stores/ScrapedDataStore'
import { useUserCustomDataStore } from 'src/stores/UserCustomDataStore'
const ScrapedDataStore = useScrapedDataStore()
const UserCustomDataStore = useUserCustomDataStore()
const searchValue = ref<string>('')
import MiniSearch from 'minisearch'
import Dst_list from 'src/components/dst_list.vue'


// Init Index
const index = new MiniSearch({
    idField: 'oeId',
    fields: ['name', 'code', 'leader', 'zip', 'phone', 'street', 'notes','city','region'],
    storeFields: ['name', 'code', 'type', 'oeId'],
    extractField: (document, fieldName) => {
        // If field name is 'pubYear', extract just the year from 'pubDate'

        if (fieldName == 'notes' && document.notes) {
            return document.notes.replace(/>/g, ' ').replace(/</g, ' ')
        }
        if (Array.isArray(document[fieldName])) {
            //@ts-expect-error Suche ist komisch
            return document[fieldName].map((item) => item.name).join(' ')
        } else {
            return document[fieldName]
        }
    }
})

const SearchResults = ref<{ name: string, code: string, type: string, oeId: string }[]>([])

const CreateIndex = (): void => {
    index.removeAll()
    index.addAll(ScrapedDataStore.data.map(t1 => ({ ...t1, ...UserCustomDataStore.custom_info.find(t2 => t2.dst_id === t1.oeId) })))

}


onActivated((): void => {
    CreateIndex()
})

const StartSearch = (): void => {
    SearchResults.value = index.search(searchValue.value, { prefix: true, fuzzy: 0.2, combineWith: 'AND' }) as unknown as { name: string, code: string, type: string, oeId: string }[]
}

CreateIndex()

</script>
<script  lang="ts">
export default {
    name: 'FulltextSearch'
}
</script>
<template>
    <q-page padding class="q-px-md q-py-sm full-height">
        <Dst_list :search-result="SearchResults">
            <q-card bordered class="text-white">
                <q-card-section>
                    <q-input
                        color="secondary"
                        type="search"
                        label="Volltext Suche"
                        placeholder="z.B. Straße oder Name des OBs"
                        @input="StartSearch"
                        @keyup="StartSearch"
                        v-model="searchValue"
                        autocomplete="false"
                        dense
                    />
                </q-card-section>
            </q-card>
        </Dst_list>
    </q-page>
</template>