<script setup lang="ts">
import { useVersionStore } from 'src/stores/versionStore';
const versionStore = useVersionStore()
</script>
<template>
    <div>{{ versionStore.BuildStage }}-{{ versionStore.packageVersion }}</div>
</template>