<script setup lang="ts">
import { useGeoDataStore } from 'src/stores/geoStore';
import { useScrapedDataStore } from 'src/stores/ScrapedDataStore';
import { useRouter } from 'vue-router';
const props = defineProps<{ searchResult?: { type: string, oeId: string, name: string, code: string }[], type?: string; code?: string; name?: string; parent?: string, einheit?: string; teileinheit?: string }>()
const ScrapedDataStore = useScrapedDataStore()
const router = useRouter()

const geoStore = useGeoDataStore()

</script>
<template>
    <div style="height: 100%;">
        <q-list bordered style="height: 100%;">
            <q-virtual-scroll :style="`min-height: 100%; max-height: 100%;`" class="scrollable"
                virtual-scroll-item-size="56"
                :items="searchResult || ScrapedDataStore.FindDstByAnyAttribute(props.name, props.code, props.type, props.parent, props.einheit, props.teileinheit, geoStore.geolocation)"
                separator>
                <template v-slot:before>
                    <div style="position: sticky; z-index: 1;top:0">
                        <slot></slot>
                    </div>
                </template>
                <template v-slot:after>
                    <div class="absolute-center" v-if="searchResult && searchResult.length === 0">
                        <p>Starte eine Suche in der Suchleiste oben</p>
                        <p>z.B.</p>
                        <ul>
                            <li>Straßenname</li>
                            <li>Name des DST-Leiter/in</li>
                            <li>Vorname des DST-Leiter/in & Straße</li>
                            <li>Inhalt aus Benutzerdefinierte Notiz</li>
                        </ul>
                    </div>
                </template>
                <template v-slot="{ item: contact }">
                    <q-item :key="contact.oeId" @click="router.push({ name: 'dst', params: { id: contact.oeId } })"
                        clickable v-ripple>
                        <q-item-section avatar>
                            <q-avatar square text-color="white">
                                <img v-if="contact.type == 'OV'" src="../assets/thw/OV.svg" />
                                <img v-if="contact.type == 'LV'" src="../assets/thw/LV.svg" />
                                <img v-if="contact.type == 'RST'" src="../assets/thw/Rst.svg" />
                                <img v-if="contact.type == 'AZ'" src="../assets/thw/AZ.svg" />
                            </q-avatar>
                        </q-item-section>

                        <q-item-section>
                            <q-item-label>{{ contact.name }}</q-item-label>
                            <q-item-label caption lines="1">{{ contact.code }}</q-item-label>
                        </q-item-section>

                        <q-item-section side v-if="contact.distance_to_geolocation">{{ contact.distance_to_geolocation
                        }} km</q-item-section>
                    </q-item>
                </template>
            </q-virtual-scroll>
        </q-list>
    </div>
</template>