// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #003399;
$secondary: #ffff00;
$accent: #b3ffff;

$dark: #171e29;
$dark-page: #1b2431;
$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
