<script setup lang="ts">
import { ref, watch } from 'vue'
import geojson2svg from 'geojson-to-svg';
import { useScrapedDataStore } from 'src/stores/ScrapedDataStore';
import { useUserSettingsStore } from 'src/stores/UserSettingsStore';
import { useGeoDataStore } from 'src/stores/geoStore';

const props = defineProps<{
    coordinates: number[];
}>()

const ScrapedDataStore = useScrapedDataStore()
const UserSettingsStore = useUserSettingsStore()
const geoStore = useGeoDataStore()

const geojson = ref<string>('')

// Fetch Germany as geoJson
const fetchData = () => {
    const data = ScrapedDataStore.GetGermanyGeoJSON()
    // Add to all Features Properties a radius of 1
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    data.features.forEach((f: Record<string, any>) => {
        f.properties.radius = 2
    })
    if (geoStore.geolocation && UserSettingsStore.show_self_on_map) {
        data.features.push({
            type: 'Feature',
            id: 17,
            properties: {
                radius: UserSettingsStore.self_radius
            },
            geometry: {
                'type': 'Point',
                'color': 'blue',
                'coordinates': [geoStore.geolocation[1], geoStore.geolocation[0]]
            },
        })
    }
    data.features.push({
        type: 'Feature',
        id: 16,
        properties: {
            radius: UserSettingsStore.pointer_radius
        },
        geometry: {
            'type': 'Point',
            'color': 'red',
            'coordinates': [props.coordinates[1], props.coordinates[0]]
        },
    })



    // Convert geojson of Germany to svg
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    geojson.value = geojson2svg(data, (feature: Record<string, any>) => {
        //console.log(feature)
        return {
            fill: feature.geometry.type == 'Point' ? feature.geometry.color : '#fff',
            radius: '0.05',
            weight: 0.050,
            color: '#333333'
        };
    }, null, function (coord: number[]) {
        return [coord[0] / 1.5, 85 - coord[1]];
    }).render()
}

fetchData()

watch(props, () => {
    //console.log('coordinates changed')
    fetchData()
})

</script>
<template>
    <div v-html="geojson"></div>
</template>