<template>
  <q-layout view="hHh lpR fFf" class="saveZoning overflow-hidden" style="height:100%;max-height: 100%;">
    <q-header elevated class="bg-primary text-white" height-hint="98">
      <q-toolbar>
        <q-toolbar-title>THW-Adressbuch</q-toolbar-title>
        <app-version></app-version>
        <geopos></geopos>
      </q-toolbar>
    </q-header>
    <q-page-container v-touch-swipe.mouse.right.left="handleSwipe" style="height:100%;max-height: 100%;"
      class="overflow-hidden" v-if="ScrapedDataStore.storeLoaded">
      <router-view v-slot="{ Component }">
        <transition name="fade" enter-active-class="animated fadeIn overflow-hidden" mode="out-in" appear
          :duration="100">
          <keep-alive include="ListOv,ListRst,ListLv,ListAz,FulltextSearch">
            <component class="overflow-hidden" :is="Component" :key="route.name" />
          </keep-alive>
        </transition>
      </router-view>
    </q-page-container>

    <q-footer elevated class="bg-primary text-white saveZoning">
      <q-tabs align="center" style="padding: 0 0 0 0;margin: 0 0 0 0">
        <q-route-tab dense to="/search" icon="search" style="padding: 0 0 0 0;margin: 0 0 0 0" />
        <q-route-tab to="/ov" label="OV" style="padding: 0 0 0 0;margin: 0 0 0 0" />
        <q-route-tab to="/rst" label="rst" style="padding: 0 0 0 0;margin: 0 0 0 0" />
        <q-route-tab to="/lv" label="lv" style="padding: 0 0 0 0;margin: 0 0 0 0" />

        <q-btn-dropdown auto-close stretch flat label="Mehr" style="padding-right: 0px;"  dropdown-icon="arrow_drop_up">
          <q-route-tab to="/statistics" exact label="Statistik" />
          <q-route-tab to="/imprint" exact label="Impressum" />
          <q-route-tab to="/settings" exact label="Einstellungen" />
          <q-route-tab to="/licenses" exact label="Lizenzen" />
          <q-route-tab to="/dst/1002359/contact" label="tltg" />
          <q-route-tab to="/az" label="az" />
        </q-btn-dropdown>
      </q-tabs>
    </q-footer>
  </q-layout>
</template>

<script lang="ts">
import { useScrapedDataStore } from 'src/stores/ScrapedDataStore';
import { defineComponent } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import Geopos from 'src/components/header/geopos.vue';
import AppVersion from 'src/components/header/AppVersion.vue';


export default defineComponent({
  name: 'MainLayout',

  setup() {
    const route = useRoute();
    const router = useRouter()
    const navOrder = ['search', 'ov', 'rst', 'lv', 'az', 'settings', 'statistics'];
    const ScrapedDataStore = useScrapedDataStore();
    return {
      route,
      // eslint-disable-next-line @typescript-eslint/no-unused-vars
      ScrapedDataStore, handleSwipe({ evt, ...newInfo }: { evt: Event, direction: string, duration: number, distance: { x: number; y: number } }): void {
        console.log(newInfo.duration, newInfo.distance);
        if (!navOrder.includes(route.path.split('/').join('')) || newInfo.distance.x < 5 || newInfo.duration < 10) return;
        const currentPos = navOrder.indexOf(route.path.split('/').join(''))
        if (newInfo.direction == 'right' && currentPos > 0) {
          router.push({ path: navOrder[currentPos - 1] });
        } else if (newInfo.direction == 'left' && currentPos < navOrder.length - 1) {
          router.push({ path: navOrder[currentPos + 1] });
        }
      }
    };
  },
  components: { Geopos, AppVersion }
});
</script>
<style scoped lang="css">
.saveZoning {
  padding-bottom: 14px;
}
</style>