<script setup lang="ts">

import { useDialogPluginComponent } from 'quasar'
const { dialogRef, onDialogHide, onDialogOK } = useDialogPluginComponent()

defineEmits([
    // REQUIRED; need to specify some events that your
    // component will emit through useDialogPluginComponent()
    ...useDialogPluginComponent.emits
])

function onOKClick() {
    // on OK, it is REQUIRED to
    // call onDialogOK (with optional payload)
    onDialogOK()
    // or with payload: onDialogOK({ ... })
    // ...and it will also hide the dialog automatically
}

</script>
<template>
    <q-dialog ref="dialogRef" @hide="onDialogHide">
        <q-card class="q-dialog-plugin q-pa-sm" style="width: 800px;max-width: 100vw;">
            <q-card-section>
                <div class="text-h4">Dies ist eine Entwicklungs-Version</div>

                <p>Hierbei handelt es sich um die Test-Version des THW-Adressbuch. Unter dieser Adresse werden
                    Funktionen und Anpassungen getestet bevor diese in die Produktive Variante übernommen werden.</p>
                <div class="text-h6">In dieser Variante sind Fehler sehr wahrscheinlich!</div>
            </q-card-section>
            <q-card-actions align="right">
                <q-btn color="primary" label="Ich habe verstanden" @click="onOKClick" />
            </q-card-actions>
        </q-card>
    </q-dialog>
</template>