<script setup lang="ts">
import Minimap from '../dst_show/minimap.vue';
import { useDialogPluginComponent } from 'quasar'
const { dialogRef, onDialogHide, onDialogOK } = useDialogPluginComponent()
const props = defineProps<{
    coordinates: number[];
}>()

defineEmits([
    // REQUIRED; need to specify some events that your
    // component will emit through useDialogPluginComponent()
    ...useDialogPluginComponent.emits
])

function onOKClick() {
    // on OK, it is REQUIRED to
    // call onDialogOK (with optional payload)
    onDialogOK()
    // or with payload: onDialogOK({ ... })
    // ...and it will also hide the dialog automatically
}

</script>
<template>
    <q-dialog ref="dialogRef" @hide="onDialogHide">
        <q-card class="q-dialog-plugin">
            <q-card-section>
                <Minimap :coordinates="props.coordinates"></Minimap>
            </q-card-section>
            <q-card-actions align="right">
                <q-btn color="primary" label="Schließen" @click="onOKClick" />
            </q-card-actions>
        </q-card>
    </q-dialog>
</template>