<script setup lang="ts">
import { useUserSettingsStore } from 'src/stores/UserSettingsStore';
const UserSettingsStore = useUserSettingsStore()
</script>
<template>
    <q-card>
        <q-card-section>
            <div class="text-h5">Karte</div>
            <div class="text-subtitle">Einstellungen der Minimap</div>
        </q-card-section>
        <q-card-section>
            <p>Größe des Punktes auf der Karte</p>
            <q-slider
                style="padding-top: 20px;"
                v-model="UserSettingsStore.pointer_radius"
                :min="0.1"
                :max="0.7"
                :step="0.01"
                color="red"
                label-always
                :label-value="(UserSettingsStore.pointer_radius * 10).toFixed(2)"
            />
            <q-separator spaced dark />
            <q-toggle
                label="Eigene Position auf Karte"
                v-model="UserSettingsStore.show_self_on_map"
                color="blue"
            />
            <q-separator spaced dark />
            <p>Größe des eigenen Punktes auf der Karte</p>
            <q-slider
                :disable="!UserSettingsStore.show_self_on_map"
                style="padding-top: 20px;"
                v-model="UserSettingsStore.self_radius"
                :min="0.1"
                :max="0.7"
                :step="0.01"
                color="blue"
                label-always
                :label-value="(UserSettingsStore.self_radius * 10).toFixed(2)"
            />
            <q-banner
                inline-actions
                rounded
                class="bg-orange text-white"
            >Eigene Position wird nur angezeigt wenn die Positionsermittlung in der Titelzeile aktiviert ist.</q-banner>
        </q-card-section>
    </q-card>
</template>